body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1 {
    color: #6aad3d;
    font-size: 3em;
    margin: 0;
}

header input {
    padding: 10px;
    font-size: 1em;
}

main {
    display: flex;
}

.albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex: 3;
}

.album {
    text-align: center;
}

.album img {
    width: 100%;
}

aside {
    flex: 1;
    padding: 20px;
}

aside h2 {
    font-size: 1.5em;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
}

